<footer class="page-footer">
    <div class="container">
        <div class="links">2020 Copyright geryakbarf.xyz
        </div>
        <div class="social-icons"><a href="https://www.facebook.com/gery.a.fauzi"><i
                        class="icon ion-social-facebook"></i></a><a
                    href="https://www.instagram.com/ini.geriya/?hl=id"><i
                        class="icon ion-social-instagram-outline"></i></a><a href="https://github.com/geryakbarf/"><i
                        class="icon ion-social-github"></i></a></div>
    </div>
</footer>
